<h1><%= t ".title" %></h1>

<% if authenticated? %>
  <%= link_to "New product", new_product_path %>
  <%= link_to "Logout", session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_session_path %>

  <div id="login-form">
    <h3>Login</h3>
    <%= form_with url: session_path, method: :post, local: true do |form| %>
      <div>
        <%= form.label :email_address, "Email" %>
        <%= form.email_field :email_address, required: true %>
      </div>
      <div>
        <%= form.label :password, "Password" %>
        <%= form.password_field :password, required: true %>
      </div>
      <div>
        <%= form.submit "Login" %>
      </div>
    <% end %>
  </div>

  <div id="register-form">
    <h3>Register</h3>
    <%= form_with url: register_path, method: :post, local: true do |form| %>
      <div>
        <%= form.label :email_address, "Email" %>
        <%= form.email_field :email_address, required: true %>
      </div>
      <div>
        <%= form.label :password, "Password" %>
        <%= form.password_field :password, required: true %>
      </div>
      <div>
        <%= form.label :password_confirmation, "Confirm Password" %>
        <%= form.password_field :password_confirmation, required: true %>
      </div>
      <div>
        <%= form.submit "Register" %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Danh sách sản phẩm -->
<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>

<!-- Footer -->
<div class="footer">
  &copy; <%= Time.current.year %> Tmy. All Rights Reserved.
</div>
</div>
